*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
  // background: url(../img/sedona-index-1200.jpg) center top no-repeat; 
  // opacity: 0.5; 
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation .active,
.site-navigation .active:hover {
  color: #766357;

  cursor: pointer;
}

.into {
  background-color: #3f4d50;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
}

.features-description {
  background-color: #ffffff;
}

.features-description p:first-child {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.features-description p:last-child {
  // font-size: 14px;
  line-height: 26px;
  text-align: center;
  // color: #333333;
}

.line-blue {
  background-color: #81b3d2;
}

.line-blue .features-item {
  text-align: center;
  color: #ffffff;
}

.bonus-line {
  text-align: center;

  background-color: #fefefe;
}

.bonus-item h2 {
  color: #000000;
}

.bonus-item:first-child {
  background-image: url(..//img/house.svg);
  background-repeat: no-repeat;
  background-position: center 60px;
}

.bonus-item:nth-child(2) {
  background-image: url(..//img/burger.svg);
  background-repeat: no-repeat;
  background-position: center 61px;
}

.bonus-item:last-child {
  background-image: url(..//img/gift.svg);
  background-repeat: no-repeat;
  background-position: center 57px;
}

.line-gray {
  background-color: #eeeeee;
}

.line-gray .features-item {
  text-align: center;
}

.line-gray h2 {
  color: #000000;
}

.main-search {
  background-color: #ffffff;
}

.main-search p:first-child {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.main-search p:nth-child(2) {
  line-height: 24px;
  text-align: center;
}

.main-search .button {
  font: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #766357;
  border: none;


  //   font-family: "PT Sans", "Arial", sans-serif;
  // font-weight: 700;
  // font-size: 21px;
  // line-height: 26px;
  // color: #ffffff;
  // text-transform: uppercase;

  // background-color: #766357;
  // border: none;
}

.main-search .button:hover {
  background-color: #604e43;
}

.main-search .button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.modal-hotels {
  background-color: #ffffff;
}

.modal-hotels label {
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.main-search input[type="text"] {
  font-weight: bold;
  line-height: 26px;
  color: #000000;

  background-color: #f2f2f2;
  border: none;
}

.main-search input[type="text"]:hover {
  background-color: #ebebeb;
}

.main-search input[type="text"]:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
}

.main-search input[type="submit"] {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;

  background-color: #81b3d2;
  border: none;
}

.main-search input[type="submit"]:hover {
  background-color: #669ec0;
}

.main-search input[type="submit"]:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.main-footer {
  background-color: #ffffff;
  // opacity: 0.9;
}

.main-footer b {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.social-btn {
  display: block;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  padding-top: 16px;

  text-align: center;

  background-color: #81b3d2;

  fill: #ffffff;
}

.btn-facebook {
  padding-top: 12px;
}

.btn-youtube {
  margin-right: 0;
}

.social-btn:hover {
  background-color: #669ec0;

  fill: #ffffff;
}

.social-btn:active {
  background-color: #5496bd;

  fill: rgba(255, 255, 255, 0.3);
}

.main-footer p {
  line-height: 26px;
  color: #000000;
}

.footer-developer {
  fill: #231f20;
}

.footer-developer:hover {
  fill: #81b3d2;
}

.footer-developer:active {
  fill: #bdbbbc;
}

.hotels-filter {
  color: #ffffff;

  background-color: #3f4d50;
  background-image: url(../img/background-blur.jpg);
  background-repeat: no-repeat;
}

.hotels-filter legend {
  font-weight: bold;
  font-size: 16px;
}

.filter ul {
  list-style: none;
}

.filter input[type="text"] {
  font: inherit;
  text-align: center;
  color: #ffffff;

  background-color: transparent;
}

.sorting {
  background-color: #fefefe;
}

.sorting p {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.sorting span {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.type-sorting,
.direction-sorting {
  list-style: none;
}

.type-sorting a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #81b3d2;
}

.type-sorting a:hover {
  color: #81b3d2;
}

.type-sorting a:active {
  color: #000000;

  border-bottom: none;
}

.type-sorting .active {
  color: #81b3d2;

  border-bottom: none;
}

.direction-sorting a {
  fill: rgba(0, 0, 0, 0.3);
}

.direction-sorting a:hover {
  fill: #000000;
}

.direction-sorting a:active {
  fill: #81b3d2;
}

.direction-sorting .active {
  fill: #81b3d2;
}

.catalog-list {
  list-style: none;

  background-color: #fefefe;
}


.catalog-item-info a {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.catalog-item-info a:hover {
  color: #81b3d2;
}

.catalog-item-info a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item-type a {
  font-weight: 400;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;

  background-color: #81b3d2;
}

.catalog-item-type a:hover {
  color: #ffffff;

  background-color: #669ec0;
}

.catalog-item-type a:active {
  color: rgba(255,255,255,0.3);

  background-color: #5496bd;
}

.catalog-item-price a {
  font-weight: 400;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;

  background-color: #766357;
}

.catalog-item-price a:hover {
  color: #ffffff;

  background-color: #604e43;
}

.catalog-item-price a:active {
  color: rgba(255,255,255,0.3);

  background-color: #503e33;
}


.container {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;

  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}


/* Стилизация главной страницы*/

.main-header {
  min-width: 56px;
}

.main-navigation {
  position: relative;
  // padding: 0 6%;

  background-color: #ffffff;
}

.site-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  margin: 0;
  padding: 0;
}

.site-navigation li {
  -webkit-flex-basis: 20%;
          flex-basis: 20%;
  padding-top: 14px;
  padding-bottom: 15px;

  -ms-flex-preferred-size: 20%;
}

.site-navigation li:first-child {
  margin-right: 0;
  margin-left: 6%;

  text-align: left;
}

.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;

  text-align: right;
}

.site-navigation li:last-child {
  margin-right: 6%;

  text-align: right;
}

.main-navigation .main-logo {
  // width: 138px;
  // height: 70px;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 10;

  -webkit-transform: translateX(-69px);
      -ms-transform: translateX(-69px);
          transform: translateX(-69px);
}

.into {
  position: relative;

  min-height: 510px;
  padding-top: 78px;

  background-repeat: no-repeat;
  background-position: center -54px;
}

.into img {
  display: block;
  margin: 0 auto;
}

.into:after {
  content: "";
  position: absolute;
  bottom: 0;

  display: block;
  width: 100%;
  height: 57px;

  background-image: url("../img/mask.png");
  background-repeat: no-repeat;
  background-position: center;
}

.features-description {
  padding-top: 40px;
  padding-bottom: 67px;
}

.features .features-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  min-height: 256px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.features .features-item {
  -webkit-flex-basis: 33%;
          flex-basis: 33%;
  padding-top: 30px;
  padding-right: 8px;
  padding-bottom: 30px;
  padding-left: 8px;

  -ms-flex-preferred-size: 33%;
}

.features .features-item-img {
  -webkit-flex-basis: 66%;
          flex-basis: 66%;
  max-width: 100%;
  height: 256px;
  overflow: hidden;

  -ms-flex-preferred-size: 66%;
}

.features .bonus-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  min-height: 330px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.features .bonus-item {
  -webkit-flex-basis: 33%;
          flex-basis: 33%;
  padding: 145px 45px 20px;

  -ms-flex-preferred-size: 33%;
}

.bonus-item h2 {
  margin-bottom: 24px;
}

.main-search {
  padding-top: 21px;
}

.main-search p:first-child {
  margin-bottom: 24px;
}

.main-search .button {
  display: block;
  min-width: 568px;
  margin: 0 auto;
  margin-top: 47px;
  padding: 30px;
}

.modal-hotels {
  display: none;
}

.main-map img {
  max-width: 100%;
  height: auto;

  vertical-align: bottom;
}




.main-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-align-items: center;
          align-items: center;
  margin-top: -10px;
  padding: 0 6%;
  padding-top: 34px;
  padding-bottom: 32px;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.main-footer .footer-hash {
  -webkit-flex-basis: 22.7%;
          flex-basis: 22.7%;
  -webkit-justify-content: center;

  text-align: center;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -ms-flex-preferred-size: 22.7%;
}

.footer-hash b {
  margin-left: 17px;
}

.main-footer .footer-social {
  -webkit-flex-basis: 54.5%;
          flex-basis: 54.5%;

  -ms-flex-preferred-size: 54.5%;
}

.footer-social-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.main-footer .footer-developer {
  -webkit-flex-basis: 22.7%;
          flex-basis: 22.7%;

  -ms-flex-preferred-size: 22.7%;
}



.footer-developer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.footer-developer p {
  margin-right: 9px;
}

.footer-developer a {
  margin-right: 13px;
}



/* Стилизация страницы Гостиницы */

.filter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  padding: 0 6%;
}

.filter-infrastructure {
  -webkit-flex-basis: 22.7%;
          flex-basis: 22.7%;

  -ms-flex-preferred-size: 22.7%;
}

.filter-appartment {
  -webkit-flex-basis: 22.7%;
          flex-basis: 22.7%;

  -ms-flex-preferred-size: 22.7%;
}

.filter-amount {
  -webkit-flex-basis: 31%;
          flex-basis: 31%;
  margin-left: auto;

  -ms-flex-preferred-size: 31%;
}

.sorting {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  padding: 0 6%;

  -webkit-box-align: center;
  -ms-flex-align: center;
}

.type-sorting {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.direction-sorting {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  margin-left: auto;
}

.catalog-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0 6%;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.catalog-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.catalog-item-description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.catalog-item-rating {
  margin-left: auto;
}

/*font-family: 'PT Sans', sans-serif;*/



// .visually-hidden
// {
//     position: absolute;

//     overflow: hidden;
//     clip: rect(0 0 0 0);

//     width: 1px;
//     height: 1px;
//     margin: -1px;
//     padding: 0;

//     border: 0;
// }

/*body{
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
}
// /*font-family: "PT Sans", "Arial", sans-serif;*/


// html
// {
//     margin: 0;
//     padding: 0;
// }

// body
// {
//     margin: 0;
//     padding: 0;

//     background-color: #f2f2f2;
// }





// h1
// {
//     margin: 0;
// }
